openapi: 3.1.0
info:
  title: DSG ONE Verification API
  version: 1.1.0
  summary: Plan-authorized execution control plus independent verification behind exact proof.
  description: |
    DSG ONE has two distinct responsibilities that use the same stored approved plan:

    1. **Authorization before execution.** `POST /api/v1/control/preflight` is the
       canonical DSG Decision Core. Exact approved work returns `ALLOW`; approved
       work whose trusted server-side capability is not ready returns
       `WAITING_PERMISSION` while remaining authorized; only work outside the
       approved plan returns `BLOCK`.
    2. **Independent verification after execution.** The agent submits raw actions
       and evidence. DSG recomputes conformance and issues a receipt only behind an
       exact Z3 proof.

    An agent submits raw material, **never a verdict**. DSG computes
    `plan_aligned`, `constraints_pass`, `execution_succeeded`, `replay_match`,
    `evidence_complete`, `decision`, `verified` and proof hashes itself. A request
    body carrying a DSG verdict is refused with
    `AGENT_ASSERTED_VERDICT_REJECTED` (422).

    ## Plan-authorized execution rule

    `ALLOW` means the proposed action exactly matches an approved plan step and
    the required server-side capabilities are currently available. DSG emits a
    scoped capability grant for that exact plan hash, agent, step, action, target
    and parameters.

    `WAITING_PERMISSION` is **not** a policy denial. The exact action remains
    authorized, but a required credential, tool or infrastructure capability is
    not configured yet. The orchestrator resolves the capability server-side and
    retries the same approved step without asking the user to approve it again.
    Callers declare only which capability is required; callers cannot assert that
    it is available, and secret values are never returned.

    `BLOCK` is reserved for work outside the approved boundary: an unapproved
    plan, wrong agent, wrong action or target, changed/undeclared parameters, or a
    mobile build that does not match the audited client identity.

    ## Audit boundary

    Preflight is the execution authorization gate. `POST /api/v1/executions` is
    an audit/evidence endpoint and records observed reality. If an executor ever
    violates a prior BLOCK, DSG preserves that raw trace rather than deleting the
    evidence; verification then proves the non-conformance.

    ## Fail-closed verification

    Fail-closed applies to unsupported claims and final proof issuance. If the
    exact Z3 verifier is unreachable, verification returns 502 and no verified
    receipt is issued. DSG does not convert a missing proof into a PASS.

    ## Canonical flow

    `POST /api/v1/plans` -> `POST /api/v1/plans/{plan_id}/approve` ->
    `POST /api/v1/control/preflight` -> executor/provisioning ->
    `POST /api/v1/executions` -> `POST /api/v1/executions/{execution_id}/evidence`
    -> `POST /api/v1/executions/{execution_id}/verify` ->
    `GET /api/v1/proofs/{proof_id}`.

    MCP exposes the same Decision Core as `dsg_preflight_action`. The audited
    Android adapter checks its APK identity and then delegates plan authorization
    and capability resolution to the same core.
  license:
    name: Repository license
    url: https://github.com/tdealer01-crypto/DSG-Cinema-Proof-Agent
  contact:
    name: DSG Cinema Proof Agent
    url: https://github.com/tdealer01-crypto/DSG-Cinema-Proof-Agent

servers:
  - url: https://dsg-cinema-production.nicetree-a005fe99.westus3.azurecontainerapps.io
    description: Production Cinema adapter
  - url: http://localhost:8000
    description: Local run of cinema_main:app

tags:
  - name: status
    description: Readiness of the verifier and record store.
  - name: control
    description: Canonical plan authorization and server-side capability resolution.
  - name: mobile
    description: Audited Android adapter to the same DSG Decision Core.
  - name: plans
    description: Registering and approving the immutable plan boundary.
  - name: verification
    description: Independent alignment and constraint checks.
  - name: executions
    description: Recording observed execution and evidence for audit.
  - name: proofs
    description: Reading independently verified proof receipts.
  - name: mcp
    description: JSON-RPC tools backed by the same production core.

security:
  - ApiKeyAuth: []
  - {}

paths:
  /api/v1/status:
    get:
      tags: [status]
      operationId: getStatus
      summary: Report service readiness
      security: []
      responses:
        '200':
          description: Current service state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceStatus'

  /api/v1/control/contract:
    get:
      tags: [control]
      operationId: getControlContract
      summary: Read the canonical Decision Core contract
      description: |
        Describes ALLOW, WAITING_PERMISSION and BLOCK semantics, the server-side
        capability broker, and the distinction between authorization and audit.
      security: []
      responses:
        '200':
          description: Decision Core contract.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ControlContract'

  /api/v1/control/capabilities:
    get:
      tags: [control]
      operationId: getControlCapabilities
      summary: Read server-side capability readiness without exposing secrets
      description: |
        Returns capability names and readiness derived by the trusted server.
        Secret values are never returned and callers cannot write readiness.
      security: []
      responses:
        '200':
          description: Current capability readiness.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CapabilityStatus'

  /api/v1/control/preflight:
    post:
      tags: [control]
      operationId: preflightAction
      summary: Authorize one exact proposed step through the DSG Decision Core
      description: |
        This is the canonical execution gate for REST and MCP adapters. The caller
        names the exact proposed action and any capability requirements. DSG reads
        the stored plan, resolves capability availability server-side, and returns
        ALLOW, WAITING_PERMISSION, or BLOCK. An approved action is never turned
        into BLOCK merely because a credential or tool is temporarily unavailable.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnifiedPreflightRequest'
      responses:
        '200':
          description: Canonical authorization decision.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ControlDecisionResult'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/AssertedVerdict'

  /api/v1/mobile/client-contract:
    get:
      tags: [mobile]
      operationId: getMobileClientContract
      summary: Read the audited Android identity and control path
      security: []
      responses:
        '200':
          description: Audited mobile client contract.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MobileClientContract'

  /api/v1/mobile/control/preflight:
    post:
      tags: [mobile]
      operationId: mobilePreflightAction
      summary: Validate the audited Android build and delegate to the Decision Core
      description: |
        The mobile adapter first pins package/version/APK/signing identity. If the
        build is trusted it delegates plan authorization and server-side capability
        resolution to the same DSG Decision Core used by REST and MCP. The trusted
        bridge authenticates with a server-side bearer secret or DSG API key; the
        end user is not asked to re-approve every already-approved action.
      security:
        - ApiKeyAuth: []
        - BridgeBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MobilePreflightRequest'
      responses:
        '200':
          description: Mobile identity and plan authorization decision.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ControlDecisionResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/AssertedVerdict'

  /api/v1/plans:
    post:
      tags: [plans]
      operationId: createPlan
      summary: Register a raw plan
      description: |
        Stores the plan and returns the plan_hash DSG computed over its canonical
        encoding. The caller does not supply a verdict or computed hash.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlanDocument'
      responses:
        '201':
          description: Plan stored in DRAFT.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanRecord'
        '422':
          $ref: '#/components/responses/AssertedVerdict'

  /api/v1/plans/{plan_id}:
    get:
      tags: [plans]
      operationId: readPlan
      summary: Read a stored plan
      security: []
      parameters:
        - $ref: '#/components/parameters/PlanId'
      responses:
        '200':
          description: Stored plan and DSG-computed hash.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanRecord'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/plans/{plan_id}/approve:
    post:
      tags: [plans]
      operationId: approvePlan
      summary: Approve and lock a plan
      description: |
        The approval echoes the plan_hash DSG computed. An approved plan is the
        immutable execution boundary; changed work requires a changed plan.
      parameters:
        - $ref: '#/components/parameters/PlanId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApprovePlanRequest'
      responses:
        '200':
          description: Plan approved and locked.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanRecord'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/AssertedVerdict'

  /api/v1/verify/plan-alignment:
    post:
      tags: [verification]
      operationId: verifyPlanAlignment
      summary: Independently compare actions with a plan
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlanAlignmentRequest'
      responses:
        '200':
          description: Alignment computed by DSG.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanAlignmentResult'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/AssertedVerdict'

  /api/v1/verify/constraints:
    post:
      tags: [verification]
      operationId: verifyConstraints
      summary: Evaluate constraints and prove the resulting verification decision
      description: |
        DSG evaluates each constraint over raw facts and requires the exact Z3
        verifier for the resulting proof. If proof is unavailable, no verified
        result is emitted.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConstraintsRequest'
      responses:
        '200':
          description: Constraint result with exact proof.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConstraintsResult'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/AssertedVerdict'
        '502':
          $ref: '#/components/responses/ProofUnavailable'

  /api/v1/executions:
    post:
      tags: [executions]
      operationId: createExecution
      summary: Record observed execution reality for audit
      description: |
        Requires an approved plan and matching agent identity. This endpoint is an
        audit surface, not the execution permission gate. It preserves observed
        traces, including out-of-plan behavior that occurred despite preflight, so
        verification has evidence of the violation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExecutionCreate'
      responses:
        '201':
          description: Execution recorded with DSG alignment preview.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionRecord'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/AssertedVerdict'

  /api/v1/executions/{execution_id}:
    get:
      tags: [executions]
      operationId: readExecution
      summary: Read a recorded execution
      security: []
      parameters:
        - $ref: '#/components/parameters/ExecutionId'
      responses:
        '200':
          description: Stored execution record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionRecord'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/executions/{execution_id}/evidence:
    post:
      tags: [executions]
      operationId: submitEvidence
      summary: Submit evidence artifacts
      description: |
        DSG hashes submitted bytes itself. A declared digest that disagrees with
        content is refused. Hash-only attestations remain distinguishable from
        content-verified evidence.
      parameters:
        - $ref: '#/components/parameters/ExecutionId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EvidenceSubmission'
      responses:
        '201':
          description: Evidence accepted and assessed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvidenceResult'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/AssertedVerdict'

  /api/v1/executions/{execution_id}/verify:
    post:
      tags: [executions]
      operationId: verifyExecution
      summary: Recompute every verdict and issue a proof receipt
      description: |
        Recomputes alignment, constraints, execution outcome, evidence completeness
        and replay from stored raw records, then requires an exact Z3 proof before
        issuing a verified receipt.
      parameters:
        - $ref: '#/components/parameters/ExecutionId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExecutionVerifyRequest'
      responses:
        '200':
          description: Independently verified proof receipt.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProofReceipt'
        '402':
          $ref: '#/components/responses/Denied'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/AssertedVerdict'
        '502':
          $ref: '#/components/responses/ProofUnavailable'

  /api/v1/proofs/{proof_id}:
    get:
      tags: [proofs]
      operationId: readProof
      summary: Read a proof receipt and recomputed receipt hash
      security: []
      parameters:
        - name: proof_id
          in: path
          required: true
          schema:
            type: string
            maxLength: 64
      responses:
        '200':
          description: Stored proof receipt.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProofReceipt'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/mcp:
    post:
      tags: [mcp]
      operationId: mcpJsonRpc
      summary: Universal MCP Connect over JSON-RPC 2.0
      description: |
        MCP exposes the same flow. `dsg_preflight_action` delegates to the unified
        Decision Core. `dsg_record_execution` records raw observed reality for
        audit and does not grant permission retroactively.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonRpcRequest'
      responses:
        '200':
          description: JSON-RPC result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonRpcResponse'
        '202':
          description: Notification accepted.
        '400':
          description: Malformed or unsupported JSON-RPC message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonRpcResponse'
        '422':
          $ref: '#/components/responses/AssertedVerdict'
    get:
      tags: [mcp]
      operationId: mcpTransportHint
      summary: Explain the MCP transport
      security: []
      responses:
        '405':
          description: MCP speaks JSON-RPC over POST.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-DSG-API-Key
      description: DSG API key used for metering/account authentication when enabled.
    BridgeBearerAuth:
      type: http
      scheme: bearer
      description: Trusted server-side Cinema/RevenuePilot bridge credential.

  parameters:
    PlanId:
      name: plan_id
      in: path
      required: true
      schema:
        type: string
        maxLength: 64
    ExecutionId:
      name: execution_id
      in: path
      required: true
      schema:
        type: string
        maxLength: 64

  responses:
    AssertedVerdict:
      description: Caller supplied a DSG-computed verdict or request validation failed.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Referenced plan, execution or proof does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Conflict:
      description: Stored state refuses the requested transition.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Denied:
      description: Billing or entitlement refused the request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Trusted bridge authentication is required.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ProofUnavailable:
      description: Exact proof unavailable; no verified receipt is issued.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:
    Scalar:
      description: Bounded scalar value.
      anyOf:
        - type: string
          maxLength: 512
        - type: number
        - type: boolean
        - type: 'null'

    Sha256:
      type: string
      pattern: '^[0-9a-fA-F]{64}$'

    Decision:
      type: string
      description: Final verification/policy decision vocabulary.
      enum: [ALLOW, REVIEW, BLOCK]

    ControlDecision:
      type: string
      description: Pre-execution authorization vocabulary from the unified Decision Core.
      enum: [ALLOW, WAITING_PERMISSION, BLOCK]

    Severity:
      type: string
      enum: [block, review]

    Channel:
      type: string
      enum: [github, stripe, openai_plugin, aws, azure, jetbrains, vscode, mcp, api, other]

    Error:
      type: object
      required: [error, message]
      properties:
        error:
          type: string
        message:
          type: string
        remediation:
          type: object
          additionalProperties: true
        details:
          type: object
          additionalProperties: true

    CapabilityRequirement:
      type: object
      additionalProperties: false
      required: [capability]
      description: |
        A capability name required by the approved step. Availability is deliberately
        absent: only the trusted server-side broker may compute it.
      properties:
        capability:
          type: string
          minLength: 1
          maxLength: 128

    CapabilityNeed:
      type: object
      required: [capability, available]
      properties:
        capability:
          type: string
        available:
          type: boolean
          readOnly: true
        source:
          type: [string, 'null']
          readOnly: true
        remediation:
          type: [string, 'null']
          readOnly: true

    CapabilityGrant:
      type: object
      properties:
        status:
          type: string
          const: GRANTED
        scope:
          type: object
          additionalProperties: true
        scope_hash:
          $ref: '#/components/schemas/Sha256'
        permissions:
          type: array
          items:
            type: string
        credential_policy:
          type: string

    ControlDecisionResult:
      type: object
      required: [allowed, execution_ready, decision, code, computed_by]
      properties:
        allowed:
          type: boolean
          readOnly: true
        execution_ready:
          type: boolean
          readOnly: true
        decision:
          $ref: '#/components/schemas/ControlDecision'
        code:
          type: string
          readOnly: true
        reason:
          type: string
          readOnly: true
        plan_id:
          type: string
        plan_hash:
          $ref: '#/components/schemas/Sha256'
        plan_status:
          type: string
        step_id:
          type: [string, 'null']
        action:
          type: string
        target:
          type: string
        findings:
          type: array
          items:
            type: object
            additionalProperties: true
        capability_grant:
          oneOf:
            - $ref: '#/components/schemas/CapabilityGrant'
            - type: 'null'
        capability_needs:
          type: array
          items:
            $ref: '#/components/schemas/CapabilityNeed'
        pending_capabilities:
          type: array
          items:
            $ref: '#/components/schemas/CapabilityNeed'
        capability_resolution:
          type: object
          additionalProperties: true
        control_hash:
          $ref: '#/components/schemas/Sha256'
        computed_by:
          type: string
          readOnly: true
        next_step:
          type: string
          readOnly: true
        evaluated_at:
          type: string
          readOnly: true

    ControlContract:
      type: object
      properties:
        core:
          type: string
          const: dsg-decision-core
        preflight:
          type: string
        capabilities:
          type: object
          additionalProperties: true
        decisions:
          type: object
          additionalProperties:
            type: string
        invariant:
          type: string
        audit_boundary:
          type: string
        post_execution:
          type: array
          items:
            type: string

    CapabilityStatus:
      type: object
      properties:
        known:
          type: integer
        available:
          type: array
          items:
            type: string
        pending:
          type: array
          items:
            type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/CapabilityNeed'
        secrets_exposed:
          type: boolean
          const: false

    PlanStep:
      type: object
      additionalProperties: false
      required: [step_id, action, target]
      properties:
        step_id:
          type: string
          maxLength: 64
        action:
          type: string
          minLength: 1
          maxLength: 64
        target:
          type: string
          minLength: 1
          maxLength: 255
        parameters:
          type: object
          maxProperties: 32
          additionalProperties:
            $ref: '#/components/schemas/Scalar'
        requires_evidence:
          type: boolean
          default: true
        optional:
          type: boolean
          default: false
        description:
          type: [string, 'null']
          maxLength: 512

    Constraint:
      type: object
      additionalProperties: false
      required: [constraint_id, field, op]
      properties:
        constraint_id:
          type: string
          maxLength: 64
        field:
          type: string
          maxLength: 64
        op:
          type: string
          enum: [eq, ne, lt, lte, gt, gte, in, not_in, subset_of, starts_with, ends_with, present, absent]
        value:
          anyOf:
            - $ref: '#/components/schemas/Scalar'
            - type: array
              maxItems: 64
              items:
                $ref: '#/components/schemas/Scalar'
        severity:
          $ref: '#/components/schemas/Severity'
        description:
          type: [string, 'null']
          maxLength: 512

    PlanDocument:
      type: object
      additionalProperties: false
      required: [title, agent_identity, steps]
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 255
        agent_identity:
          type: string
          minLength: 1
          maxLength: 255
        channel:
          $ref: '#/components/schemas/Channel'
        steps:
          type: array
          minItems: 1
          maxItems: 64
          items:
            $ref: '#/components/schemas/PlanStep'
        constraints:
          type: array
          maxItems: 64
          items:
            $ref: '#/components/schemas/Constraint'
        metadata:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Scalar'

    PlanRecord:
      type: object
      required: [plan_id, status, plan_hash, document]
      properties:
        plan_id:
          type: string
        status:
          type: string
          enum: [DRAFT, APPROVED]
        plan_hash:
          $ref: '#/components/schemas/Sha256'
        plan_hash_verified:
          type: boolean
          readOnly: true
        document:
          $ref: '#/components/schemas/PlanDocument'
        approval:
          type: [object, 'null']
          additionalProperties: true
        api_version:
          type: string
        policy_version:
          type: string
        created_at:
          type: string
        next_step:
          type: string
        independent_verification:
          type: object
          additionalProperties: true

    ApprovePlanRequest:
      type: object
      additionalProperties: false
      required: [approver, plan_hash]
      properties:
        approver:
          type: string
          minLength: 1
          maxLength: 255
        plan_hash:
          $ref: '#/components/schemas/Sha256'
        approval_note:
          type: [string, 'null']
          maxLength: 1024

    ObservedAction:
      type: object
      additionalProperties: false
      required: [action, target]
      description: Raw observation; it is not a conformance verdict.
      properties:
        action:
          type: string
          minLength: 1
          maxLength: 64
        target:
          type: string
          minLength: 1
          maxLength: 255
        step_id:
          type: [string, 'null']
          maxLength: 64
        parameters:
          type: object
          maxProperties: 32
          additionalProperties:
            $ref: '#/components/schemas/Scalar'
        status:
          type: string
          enum: [succeeded, failed, skipped]
          default: succeeded
        started_at:
          type: [string, 'null']
          maxLength: 64
        finished_at:
          type: [string, 'null']
          maxLength: 64
        output_sha256:
          oneOf:
            - $ref: '#/components/schemas/Sha256'
            - type: 'null'

    UnifiedPreflightRequest:
      type: object
      additionalProperties: false
      required: [plan_id, agent_identity, action]
      properties:
        plan_id:
          type: string
          minLength: 1
          maxLength: 64
        agent_identity:
          type: string
          minLength: 1
          maxLength: 255
        action:
          $ref: '#/components/schemas/ObservedAction'
        required_capabilities:
          type: array
          maxItems: 32
          items:
            $ref: '#/components/schemas/CapabilityRequirement'
        channel:
          type: string
          minLength: 1
          maxLength: 64
          default: api
        trace_id:
          type: [string, 'null']
          maxLength: 128

    MobileClientIdentity:
      type: object
      additionalProperties: false
      required: [package_name, version_name, version_code, apk_sha256, signing_cert_sha256]
      properties:
        package_name:
          type: string
          maxLength: 255
        version_name:
          type: string
          maxLength: 64
        version_code:
          type: integer
          minimum: 1
        apk_sha256:
          $ref: '#/components/schemas/Sha256'
        signing_cert_sha256:
          $ref: '#/components/schemas/Sha256'

    MobileProposedAction:
      type: object
      additionalProperties: false
      required: [action, target, step_id]
      properties:
        action:
          type: string
          minLength: 1
          maxLength: 64
        target:
          type: string
          minLength: 1
          maxLength: 255
        step_id:
          type: string
          minLength: 1
          maxLength: 64
        parameters:
          type: object
          maxProperties: 32
          additionalProperties:
            $ref: '#/components/schemas/Scalar'

    MobilePreflightRequest:
      type: object
      additionalProperties: false
      required: [client, plan_id, agent_identity, action]
      properties:
        client:
          $ref: '#/components/schemas/MobileClientIdentity'
        plan_id:
          type: string
          minLength: 1
          maxLength: 64
        agent_identity:
          type: string
          minLength: 1
          maxLength: 255
        action:
          $ref: '#/components/schemas/MobileProposedAction'
        required_capabilities:
          type: array
          maxItems: 32
          items:
            $ref: '#/components/schemas/CapabilityRequirement'
        trace_id:
          type: [string, 'null']
          maxLength: 128

    MobileClientContract:
      type: object
      properties:
        client:
          type: object
          additionalProperties: true
        decision_core:
          type: string
        control:
          type: object
          additionalProperties: true
        rule:
          type: string

    PlanAlignmentRequest:
      type: object
      additionalProperties: false
      required: [actions]
      description: Exactly one of plan_id or plan is required by runtime validation.
      properties:
        plan_id:
          type: [string, 'null']
          maxLength: 64
        plan:
          oneOf:
            - $ref: '#/components/schemas/PlanDocument'
            - type: 'null'
        actions:
          type: array
          minItems: 1
          maxItems: 128
          items:
            $ref: '#/components/schemas/ObservedAction'

    PlanAlignmentResult:
      type: object
      properties:
        plan_aligned:
          type: boolean
          readOnly: true
        computed_by:
          type: string
          readOnly: true
        plan_id:
          type: [string, 'null']
        plan_status:
          type: string
        plan_hash:
          $ref: '#/components/schemas/Sha256'
        action_trace_hash:
          $ref: '#/components/schemas/Sha256'
        alignment_hash:
          $ref: '#/components/schemas/Sha256'
        plan_complete:
          type: boolean
        findings:
          type: array
          items:
            type: object
            additionalProperties: true
        evaluated_at:
          type: string

    ConstraintsRequest:
      type: object
      additionalProperties: false
      description: Exactly one of plan_id or constraints is required by runtime validation.
      properties:
        plan_id:
          type: [string, 'null']
          maxLength: 64
        constraints:
          oneOf:
            - type: array
              maxItems: 64
              items:
                $ref: '#/components/schemas/Constraint'
            - type: 'null'
        facts:
          type: object
          maxProperties: 64
          additionalProperties:
            anyOf:
              - $ref: '#/components/schemas/Scalar'
              - type: array
                maxItems: 64
                items:
                  $ref: '#/components/schemas/Scalar'

    ConstraintsResult:
      type: object
      properties:
        constraints_pass:
          type: boolean
          readOnly: true
        requires_review:
          type: boolean
          readOnly: true
        decision:
          $ref: '#/components/schemas/Decision'
        verified:
          type: boolean
          readOnly: true
        verification:
          type: string
          readOnly: true
        proof_hash:
          $ref: '#/components/schemas/Sha256'
        request_hash:
          $ref: '#/components/schemas/Sha256'
        evaluated_at:
          type: string

    ExecutionCreate:
      type: object
      additionalProperties: false
      required: [plan_id, agent_identity, actions]
      properties:
        plan_id:
          type: string
          minLength: 1
          maxLength: 64
        agent_identity:
          type: string
          minLength: 1
          maxLength: 255
        environment:
          type: string
          maxLength: 128
          default: unknown
        channel:
          $ref: '#/components/schemas/Channel'
        actions:
          type: array
          minItems: 1
          maxItems: 128
          items:
            $ref: '#/components/schemas/ObservedAction'
        observed_facts:
          type: object
          maxProperties: 64
          additionalProperties:
            anyOf:
              - $ref: '#/components/schemas/Scalar'
              - type: array
                items:
                  $ref: '#/components/schemas/Scalar'
        cost_microunits:
          type: integer
          minimum: 0
        started_at:
          type: [string, 'null']
          maxLength: 64
        finished_at:
          type: [string, 'null']
          maxLength: 64
        trace_id:
          type: [string, 'null']
          maxLength: 128

    ExecutionRecord:
      type: object
      required: [execution_id, plan_id, status]
      properties:
        execution_id:
          type: string
        plan_id:
          type: string
        plan_hash:
          $ref: '#/components/schemas/Sha256'
        status:
          type: string
          enum: [RECORDED, EVIDENCE_SUBMITTED, VERIFIED]
        agent_identity:
          type: string
        environment:
          type: string
        channel:
          type: string
        trace_id:
          type: [string, 'null']
        actions:
          type: array
          items:
            $ref: '#/components/schemas/ObservedAction'
        alignment_preview:
          $ref: '#/components/schemas/PlanAlignmentResult'
        evidence:
          type: array
          items:
            type: object
            additionalProperties: true
        proof_id:
          type: [string, 'null']
        next_step:
          type: string

    EvidenceArtifact:
      type: object
      additionalProperties: false
      required: [artifact_id, source]
      properties:
        artifact_id:
          type: string
          maxLength: 64
        source:
          type: string
          minLength: 1
          maxLength: 128
        step_id:
          type: [string, 'null']
          maxLength: 64
        media_type:
          type: string
          maxLength: 128
        content:
          type: [string, 'null']
          maxLength: 65536
        content_base64:
          type: [string, 'null']
          maxLength: 87400
        declared_sha256:
          oneOf:
            - $ref: '#/components/schemas/Sha256'
            - type: 'null'
        recorded_at:
          type: [string, 'null']
          maxLength: 64

    EvidenceSubmission:
      type: object
      additionalProperties: false
      required: [artifacts]
      properties:
        artifacts:
          type: array
          minItems: 1
          maxItems: 256
          items:
            $ref: '#/components/schemas/EvidenceArtifact'

    EvidenceResult:
      type: object
      properties:
        execution_id:
          type: string
        status:
          type: string
        accepted_artifacts:
          type: array
          items:
            type: string
        artifacts:
          type: array
          items:
            type: object
            additionalProperties: true
        evidence:
          type: object
          additionalProperties: true
        replay:
          type: object
          additionalProperties: true
        next_step:
          type: string
        submitted_at:
          type: string

    ExecutionVerifyRequest:
      type: object
      additionalProperties: false
      properties:
        note:
          type: [string, 'null']
          maxLength: 1024
        require_content_evidence:
          type: boolean
          default: true

    ProofReceipt:
      type: object
      properties:
        proof_id:
          type: string
        execution_id:
          type: string
        plan_id:
          type: string
        decision:
          $ref: '#/components/schemas/Decision'
        reasons:
          type: array
          items:
            type: string
        computed:
          type: object
          additionalProperties: true
        verified:
          type: boolean
          readOnly: true
        verification:
          type: string
          readOnly: true
        proof_hash:
          $ref: '#/components/schemas/Sha256'
        request_hash:
          $ref: '#/components/schemas/Sha256'
        context_hash:
          $ref: '#/components/schemas/Sha256'
        receipt_hash:
          $ref: '#/components/schemas/Sha256'
        receipt_hash_verified:
          type: boolean
          readOnly: true
        receipt_hash_recomputed:
          $ref: '#/components/schemas/Sha256'
        verified_at:
          type: string

    ServiceStatus:
      type: object
      required: [service, status]
      properties:
        service:
          type: string
          const: dsg-one
        status:
          type: string
          enum: [READY, DEGRADED]
        api_version:
          type: string
        policy_version:
          type: string
        receipt_version:
          type: string
        engine_version:
          type: string
        verification_backend:
          type: object
          additionalProperties: true
        storage:
          type: object
          additionalProperties: true
        independent_verification:
          type: object
          additionalProperties: true
        flow:
          type: array
          items:
            type: object
            additionalProperties: true
        mcp:
          type: object
          additionalProperties: true
        checked_at:
          type: string

    JsonRpcRequest:
      type: object
      required: [jsonrpc, method]
      properties:
        jsonrpc:
          type: string
          const: '2.0'
        id:
          type: [string, integer, 'null']
        method:
          type: string
          enum: [initialize, ping, tools/list, tools/call, resources/list, prompts/list]
        params:
          type: object
          additionalProperties: true

    JsonRpcResponse:
      type: object
      required: [jsonrpc]
      properties:
        jsonrpc:
          type: string
          const: '2.0'
        id:
          type: [string, integer, 'null']
        result:
          type: object
          additionalProperties: true
        error:
          type: object
          additionalProperties: true
