openapi: 3.1.0
info:
  title: DSG ONE Verification API
  version: 1.2.0
  summary: Plan-authorized execution control plus independent verification behind an exact Z3 proof.
  description: |
    DSG ONE verifies that an agent execution conforms to an approved plan and to
    policy, and issues a proof receipt for that conformance.

    ## The one rule this contract exists to enforce

    An agent submits **raw material**, never a verdict:

    * the plan a human approved,
    * the actions it actually took,
    * the evidence those actions produced.

    DSG computes `plan_aligned`, `constraints_pass`, `execution_succeeded`,
    `replay_match` and `evidence_complete` itself, from the records it stored.
    A request body carrying any of those fields — or `verified`, `decision`,
    `proof_hash` — is refused with `AGENT_ASSERTED_VERDICT_REJECTED` (422). This
    is the difference between verification and a self-report, so it is part of
    the contract rather than an implementation detail.

    ## What a PASS means, and what it does not

    A receipt says: the observed actions matched the approved plan, the declared
    constraints held over the facts DSG observed, the submitted evidence covers
    the steps that require it, the declared output digests match content DSG
    hashed itself, and Z3 proved the resulting ALLOW/REVIEW/BLOCK decision is the
    global optimum of its encoding.

    A receipt does not certify real-world outcomes beyond that evidence. Evidence
    supplied as a bare digest (`declared_sha256` with no content) is recorded as
    `HASH_ONLY` and never counts as independently verified.

    ## Fail-closed

    If the Z3 verifier is unreachable, verification returns 502 and no receipt is
    issued. There is no degraded mode that returns a verdict without a proof.

    ## Flow

    `POST /plans` -> `POST /plans/{plan_id}/approve` -> `POST /verify/plan-alignment`
    -> `POST /verify/constraints` -> `POST /executions` ->
    `POST /executions/{execution_id}/evidence` ->
    `POST /executions/{execution_id}/verify` -> `GET /proofs/{proof_id}`

    The same flow is available to MCP clients as tools on `POST /mcp`.

    ## Plan-authorized execution core

    Before an executor acts, `POST /api/v1/control/preflight` applies one production rule:
    exact approved work is `ALLOW`; exact approved work with a missing server-side capability
    is `WAITING_PERMISSION` and remains authorized while provisioning is resolved; only work
    outside the approved plan is `BLOCK`. REST, MCP and the audited Android adapter share this
    Decision Core. `POST /api/v1/executions` remains an audit/evidence surface and preserves
    observed violation traces rather than deleting evidence.
  license:
    name: Repository license
    url: https://github.com/tdealer01-crypto/DSG-Cinema-Proof-Agent
  contact:
    name: DSG Cinema Proof Agent
    url: https://github.com/tdealer01-crypto/DSG-Cinema-Proof-Agent

servers:
  - url: https://dsg-cinema-production.nicetree-a005fe99.westus3.azurecontainerapps.io
    description: Production Cinema adapter
  - url: http://localhost:8000
    description: Local run of cinema_main:app

tags:
  - name: status
    description: Readiness of the verification backend and the record store.
  - name: control
    description: Canonical plan authorization and server-side capability resolution.
  - name: mobile
    description: Audited Android adapter to the same DSG Decision Core.
  - name: plans
    description: Registering and approving the plan a proof is measured against.
  - name: verification
    description: Independent alignment and constraint checks.
  - name: executions
    description: Recording what an agent did, and the evidence it produced.
  - name: proofs
    description: Reading issued proof receipts.
  - name: mcp
    description: Universal MCP Connect - the same flow as JSON-RPC tools.

security:
  - ApiKeyAuth: []
  - {}

paths:
  /api/v1/status:
    get:
      tags: [status]
      operationId: getStatus
      summary: Report service readiness
      description: |
        Whether the exact Z3 verifier is reachable and whether the record store is
        durable. A client that cannot reach this endpoint must show NOT CONNECTED
        rather than any verification state.
      security: []
      responses:
        '200':
          description: Current service state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceStatus'

  /api/v1/control/contract:
    get:
      tags: [control]
      operationId: getControlContract
      summary: Read the canonical Decision Core contract
      description: |
        Describes ALLOW, WAITING_PERMISSION and BLOCK semantics, the server-side
        capability broker, and the distinction between authorization and audit.
      security: []
      responses:
        '200':
          description: Decision Core contract.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ControlContract'

  /api/v1/control/capabilities:
    get:
      tags: [control]
      operationId: getControlCapabilities
      summary: Read server-side capability readiness without exposing secrets
      description: |
        Returns capability names and readiness derived by the trusted server.
        Secret values are never returned and callers cannot write readiness.
      security: []
      responses:
        '200':
          description: Current capability readiness.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CapabilityStatus'

  /api/v1/control/preflight:
    post:
      tags: [control]
      operationId: preflightAction
      summary: Authorize one exact proposed step through the DSG Decision Core
      description: |
        This is the canonical execution gate for REST and MCP adapters. The caller
        names the exact proposed action and any capability requirements. DSG reads
        the stored plan, resolves capability availability server-side, and returns
        ALLOW, WAITING_PERMISSION, or BLOCK. An approved action is never turned
        into BLOCK merely because a credential or tool is temporarily unavailable.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnifiedPreflightRequest'
      responses:
        '200':
          description: Canonical authorization decision.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ControlDecisionResult'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/AssertedVerdict'

  /api/v1/control/mutations:
    post:
      tags: [control]
      operationId: executeGuardedMutation
      summary: Execute one plan-authorized mutation and record its guarded evidence
      description: |
        The state-changing counterpart to `preflight`. DSG re-runs the same Decision
        Core check and, only on `ALLOW`, performs the mutation: one guarded evidence
        row bound to the authenticated tenant, written and read back inside a single
        transaction. The response carries that read-back — the row storage returned,
        not an echo of the request — together with the `evidence_hash` recomputed
        from it.

        `WAITING_PERMISSION` and `BLOCK` write nothing and answer 200 with
        `executed: false`, so an unauthorized mutation never leaves a record that
        looks like an authorized one.

        Idempotency is enforced by the database: `(tenant_id, idempotency_key)` is
        unique. A repeated request for the same action returns the stored row with
        `created: false` (200); the same key presented for a different action is
        refused with `IDEMPOTENCY_KEY_CONFLICT` (409) rather than answered with a
        receipt for work the caller did not do.
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GuardedMutationRequest'
      responses:
        '200':
          description: |
            Either a replay of the stored row, or a decision short of ALLOW that
            executed nothing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuardedMutationResult'
        '201':
          description: The mutation was executed and a new guarded evidence row exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuardedMutationResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/AssertedVerdict'
        '503':
          $ref: '#/components/responses/StorageNotReady'

  /api/v1/control/mutations/{evidence_id}:
    get:
      tags: [control]
      operationId: readGuardedMutation
      summary: Read one guarded evidence row back from storage
      description: |
        Returns the stored row for this tenant only. A row belonging to another
        tenant is indistinguishable from a row that does not exist.
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/EvidenceId'
      responses:
        '200':
          description: The guarded evidence row, with its digest recomputed on read.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuardedMutationReadBack'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/control/configure-stripe-app:
    post:
      tags: [control]
      operationId: configureStripeAppProduction
      summary: Apply the exact approved Stripe App production configuration
      description: |
        This executor has a fixed action (`configure_stripe_app`), target
        (`pics.dsg.governance`), step id (`stripe-production-setup`), empty
        parameters, repository, and production environment. DSG re-runs plan
        preflight before the server-side GitHub App writes five environment
        secrets and one repository variable. The response is based on GitHub
        read-back metadata; encrypted or plaintext secret values are never
        returned. Missing GitHub App inputs or permissions produce
        `WAITING_PERMISSION`; out-of-plan work produces `BLOCK` and no write.
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigureStripeAppRequest'
      responses:
        '200':
          description: ALLOW with GitHub read-back evidence, WAITING_PERMISSION, or BLOCK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StripeAppExecutorResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: A Stripe value failed format validation or a verdict was supplied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '502':
          description: GitHub was reachable as a capability but the API operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StripeAppExecutorResult'

  /api/v1/mobile/client-contract:
    get:
      tags: [mobile]
      operationId: getMobileClientContract
      summary: Read the audited Android identity and control path
      security: []
      responses:
        '200':
          description: Audited mobile client contract.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MobileClientContract'

  /api/v1/mobile/control/preflight:
    post:
      tags: [mobile]
      operationId: mobilePreflightAction
      summary: Validate the audited Android build and delegate to the Decision Core
      description: |
        The mobile adapter first pins package/version/APK/signing identity. If the
        build is trusted it delegates plan authorization and server-side capability
        resolution to the same DSG Decision Core used by REST and MCP. The trusted
        bridge authenticates with a server-side bearer secret or DSG API key; the
        end user is not asked to re-approve every already-approved action.
      security:
        - ApiKeyAuth: []
        - BridgeBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MobilePreflightRequest'
      responses:
        '200':
          description: Mobile identity and plan authorization decision.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ControlDecisionResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/AssertedVerdict'

  /api/v1/plans:
    post:
      tags: [plans]
      operationId: createPlan
      summary: Register a raw plan
      description: |
        Stores the plan and returns the `plan_hash` DSG computed over its canonical
        encoding. The caller does not supply a hash: an approval later has to echo
        the hash DSG computed, so an approver can only approve text DSG holds.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlanDocument'
      responses:
        '201':
          description: Plan stored in DRAFT.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanRecord'
        '422':
          $ref: '#/components/responses/AssertedVerdict'

  /api/v1/plans/{plan_id}:
    get:
      tags: [plans]
      operationId: readPlan
      summary: Read a stored plan
      security: []
      parameters:
        - $ref: '#/components/parameters/PlanId'
      responses:
        '200':
          description: The plan, with DSG's recomputation of its hash.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanRecord'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/plans/{plan_id}/approve:
    post:
      tags: [plans]
      operationId: approvePlan
      summary: Approve and lock a plan
      description: |
        The approval must carry the `plan_hash` DSG computed. A mismatch is refused
        with `PLAN_HASH_MISMATCH`, because an approval that names different text is
        an approval of something the approver did not read. An approved plan is
        immutable.
      parameters:
        - $ref: '#/components/parameters/PlanId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApprovePlanRequest'
      responses:
        '200':
          description: Plan approved and locked.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanRecord'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/AssertedVerdict'

  /api/v1/verify/plan-alignment:
    post:
      tags: [verification]
      operationId: verifyPlanAlignment
      summary: Decide, action by action, whether a trace stays inside the plan
      description: |
        Send the approved plan (by `plan_id`) or an inline plan, plus the actions
        the agent proposes or took. DSG matches each action to an approved step and
        returns its own `plan_aligned` verdict with per-action findings.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlanAlignmentRequest'
      responses:
        '200':
          description: Alignment computed by DSG.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanAlignmentResult'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/AssertedVerdict'

  /api/v1/verify/constraints:
    post:
      tags: [verification]
      operationId: verifyConstraints
      summary: Evaluate policy constraints and prove the decision with exact Z3
      description: |
        DSG evaluates each constraint over the submitted facts, derives
        ALLOW / REVIEW / BLOCK, and requires Z3 to prove that decision is the global
        optimum of its encoding. If the verifier is unreachable the call fails with
        502 and returns no decision.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConstraintsRequest'
      responses:
        '200':
          description: Constraint evaluation with its exact proof.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConstraintsResult'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/AssertedVerdict'
        '502':
          $ref: '#/components/responses/ProofUnavailable'

  /api/v1/executions:
    post:
      tags: [executions]
      operationId: createExecution
      summary: Record observed execution reality for audit
      description: |
        Requires an approved plan and matching agent identity. This endpoint records
        observed reality for audit; preflight is the authorization gate. If an executor
        violates a prior BLOCK, the raw trace is preserved so verification can prove it.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExecutionCreate'
      responses:
        '201':
          description: Execution recorded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionRecord'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/AssertedVerdict'

  /api/v1/executions/{execution_id}:
    get:
      tags: [executions]
      operationId: readExecution
      summary: Read a recorded execution
      security: []
      parameters:
        - $ref: '#/components/parameters/ExecutionId'
      responses:
        '200':
          description: The stored execution record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionRecord'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/executions/{execution_id}/evidence:
    post:
      tags: [executions]
      operationId: submitEvidence
      summary: Submit evidence artifacts
      description: |
        DSG hashes any submitted bytes itself. An artifact whose `declared_sha256`
        disagrees with its content is refused with `EVIDENCE_HASH_MISMATCH`. An
        artifact carrying only a digest is stored as `HASH_ONLY` and does not count
        as independently verified evidence.
      parameters:
        - $ref: '#/components/parameters/ExecutionId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EvidenceSubmission'
      responses:
        '201':
          description: Evidence accepted, with DSG's completeness and replay assessment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvidenceResult'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/AssertedVerdict'

  /api/v1/executions/{execution_id}/verify:
    post:
      tags: [executions]
      operationId: verifyExecution
      summary: Recompute every verdict and issue a proof receipt
      description: |
        Recomputes alignment, constraint satisfaction, evidence completeness and
        replay match from the stored raw records, derives the decision, and requires
        an exact Z3 global-optimum proof before issuing a receipt. Single-shot: an
        execution that already has a proof is refused with
        `EXECUTION_ALREADY_VERIFIED`.
      parameters:
        - $ref: '#/components/parameters/ExecutionId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExecutionVerifyRequest'
      responses:
        '200':
          description: Proof receipt.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProofReceipt'
        '402':
          $ref: '#/components/responses/Denied'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/AssertedVerdict'
        '502':
          $ref: '#/components/responses/ProofUnavailable'

  /api/v1/proofs/{proof_id}:
    get:
      tags: [proofs]
      operationId: readProof
      summary: Read a proof receipt
      description: |
        Returns the stored receipt plus `receipt_hash_recomputed`, so a reader can
        confirm the receipt has not been edited since it was issued.
      security: []
      parameters:
        - name: proof_id
          in: path
          required: true
          schema:
            type: string
            maxLength: 64
      responses:
        '200':
          description: The receipt, with DSG's recomputation of its hash.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProofReceipt'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/mcp:
    post:
      tags: [mcp]
      operationId: mcpJsonRpc
      summary: Universal MCP Connect (JSON-RPC 2.0)
      description: |
        Speaks JSON-RPC 2.0 over POST - no SSE stream, no session to keep alive.
        Supported methods: `initialize`, `ping`, `tools/list`, `tools/call`,
        `resources/list`, `prompts/list`. The tools mirror this contract, and the
        same verdict-rejection rule applies to their arguments.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonRpcRequest'
      responses:
        '200':
          description: JSON-RPC result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonRpcResponse'
        '202':
          description: A notification was accepted. No body is returned.
        '400':
          description: A malformed or unsupported JSON-RPC message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonRpcResponse'
        '422':
          $ref: '#/components/responses/AssertedVerdict'
    get:
      tags: [mcp]
      operationId: mcpTransportHint
      summary: Explain the MCP transport
      security: []
      responses:
        '405':
          description: This MCP server speaks JSON-RPC over POST.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    const: MCP_TRANSPORT_IS_POST
                  message:
                    type: string
                  protocol_version:
                    type: string

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-DSG-API-Key
      description: |
        Optional while `DSG_REVENUE_ENFORCE` is off: an anonymous caller gets
        unmetered public evaluation. Presenting a key opts into metering, and an
        unusable key is refused rather than silently served.

    BridgeBearerAuth:
      type: http
      scheme: bearer
      description: Trusted server-side Cinema/RevenuePilot bridge credential.

  parameters:
    PlanId:
      name: plan_id
      in: path
      required: true
      schema:
        type: string
        maxLength: 64
    EvidenceId:
      name: evidence_id
      in: path
      required: true
      description: Identifier of a guarded evidence row.
      schema:
        type: string
        maxLength: 64
    ExecutionId:
      name: execution_id
      in: path
      required: true
      schema:
        type: string
        maxLength: 64

  responses:
    AssertedVerdict:
      description: |
        The body carried a verdict DSG computes, or failed schema validation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: No such plan, execution, or proof.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Conflict:
      description: The record is in a state that refuses this transition.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Denied:
      description: Entitlement refused the request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Trusted bridge authentication is required.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    StorageNotReady:
      description: |
        Either guarded mutation evidence has no durable store while paid enforcement
        is requested (`GUARDED_STORAGE_NOT_READY`, no mutation is performed), or the
        written row could not be read back (`GUARDED_EVIDENCE_UNREADABLE`). Retrying
        with the same idempotency_key is safe in both cases.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ProofUnavailable:
      description: |
        No exact proof could be obtained. Fail-closed: no decision and no receipt
        are returned.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:
    Scalar:
      description: A bounded scalar value.
      anyOf:
        - type: string
          maxLength: 512
        - type: number
        - type: boolean
        - type: 'null'

    Sha256:
      type: string
      pattern: '^[0-9a-fA-F]{64}$'
      description: Lowercase SHA-256 hex digest.

    Decision:
      type: string
      enum: [ALLOW, REVIEW, BLOCK]

    Severity:
      type: string
      enum: [block, review]

    Channel:
      type: string
      enum: [github, stripe, openai_plugin, aws, azure, jetbrains, vscode, mcp, api, other]

    IndependentVerification:
      type: object
      description: |
        Restates, in every response, that the verdicts in it were computed by DSG.
      properties:
        verdicts_accepted_from_agent:
          type: boolean
          const: false
        computed_by:
          type: string
          const: dsg
        engine_version:
          type: string
        statement:
          type: string

    Remediation:
      type: object
      description: What happened, why, and the one next action that resolves it.
      required: [code, problem, cause, next_step, self_service]
      properties:
        code:
          type: string
        problem:
          type: string
        cause:
          type: string
        next_step:
          type: string
        self_service:
          type: boolean
        endpoint:
          type: string
        docs:
          type: string

    Error:
      type: object
      required: [error, message]
      properties:
        error:
          type: string
          description: |
            Machine-readable refusal code, for example
            AGENT_ASSERTED_VERDICT_REJECTED, PLAN_NOT_APPROVED, PLAN_HASH_MISMATCH,
            AGENT_IDENTITY_MISMATCH, EVIDENCE_HASH_MISMATCH,
            EXECUTION_ALREADY_VERIFIED, PROOF_NOT_FOUND, BACKEND_UNAVAILABLE,
            VERIFICATION_NOT_PROVED, IDEMPOTENCY_KEY_CONFLICT, MUTATION_NOT_FOUND,
            GUARDED_STORAGE_NOT_READY, GUARDED_EVIDENCE_UNREADABLE.
        message:
          type: string
        remediation:
          $ref: '#/components/schemas/Remediation'
        details:
          type: object
          additionalProperties: true

    ControlDecision:
      type: string
      description: Pre-execution authorization vocabulary from the unified Decision Core.
      enum: [ALLOW, WAITING_PERMISSION, BLOCK]

    CapabilityRequirement:
      type: object
      additionalProperties: false
      required: [capability]
      description: |
        A capability name required by the approved step. Availability is deliberately
        absent: only the trusted server-side broker may compute it.
      properties:
        capability:
          type: string
          minLength: 1
          maxLength: 128

    CapabilityNeed:
      type: object
      required: [capability, available]
      properties:
        capability:
          type: string
        available:
          type: boolean
          readOnly: true
        source:
          type: [string, 'null']
          readOnly: true
        remediation:
          type: [string, 'null']
          readOnly: true

    CapabilityGrant:
      type: object
      properties:
        status:
          type: string
          const: GRANTED
        scope:
          type: object
          additionalProperties: true
        scope_hash:
          $ref: '#/components/schemas/Sha256'
        permissions:
          type: array
          items:
            type: string
        credential_policy:
          type: string

    ControlDecisionResult:
      type: object
      required: [allowed, execution_ready, decision, code, computed_by]
      properties:
        allowed:
          type: boolean
          readOnly: true
        execution_ready:
          type: boolean
          readOnly: true
        decision:
          $ref: '#/components/schemas/ControlDecision'
        code:
          type: string
          readOnly: true
        reason:
          type: string
          readOnly: true
        plan_id:
          type: string
        plan_hash:
          $ref: '#/components/schemas/Sha256'
        plan_status:
          type: string
        step_id:
          type: [string, 'null']
        action:
          type: string
        target:
          type: string
        findings:
          type: array
          items:
            type: object
            additionalProperties: true
        capability_grant:
          oneOf:
            - $ref: '#/components/schemas/CapabilityGrant'
            - type: 'null'
        capability_needs:
          type: array
          items:
            $ref: '#/components/schemas/CapabilityNeed'
        pending_capabilities:
          type: array
          items:
            $ref: '#/components/schemas/CapabilityNeed'
        capability_resolution:
          type: object
          additionalProperties: true
        control_hash:
          $ref: '#/components/schemas/Sha256'
        computed_by:
          type: string
          readOnly: true
        next_step:
          type: string
          readOnly: true
        evaluated_at:
          type: string
          readOnly: true

    ControlContract:
      type: object
      properties:
        core:
          type: string
          const: dsg-decision-core
        preflight:
          type: string
        mutation:
          type: object
          additionalProperties: true
        executors:
          type: object
          additionalProperties: true
        capabilities:
          type: object
          additionalProperties: true
        decisions:
          type: object
          additionalProperties:
            type: string
        invariant:
          type: string
        audit_boundary:
          type: string
        post_execution:
          type: array
          items:
            type: string

    CapabilityStatus:
      type: object
      properties:
        known:
          type: integer
        available:
          type: array
          items:
            type: string
        pending:
          type: array
          items:
            type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/CapabilityNeed'
        secrets_exposed:
          type: boolean
          const: false

    UnifiedPreflightRequest:
      type: object
      additionalProperties: false
      required: [plan_id, agent_identity, action]
      properties:
        plan_id:
          type: string
          minLength: 1
          maxLength: 64
        agent_identity:
          type: string
          minLength: 1
          maxLength: 255
        action:
          $ref: '#/components/schemas/ObservedAction'
        required_capabilities:
          type: array
          maxItems: 32
          items:
            $ref: '#/components/schemas/CapabilityRequirement'
        channel:
          type: string
          minLength: 1
          maxLength: 64
          default: api
        trace_id:
          type: [string, 'null']
          maxLength: 128

    GuardedMutationRequest:
      type: object
      additionalProperties: false
      required: [plan_id, agent_identity, action, idempotency_key]
      properties:
        plan_id:
          type: string
          minLength: 1
          maxLength: 64
        agent_identity:
          type: string
          minLength: 1
          maxLength: 255
        action:
          $ref: '#/components/schemas/ObservedAction'
        idempotency_key:
          type: string
          minLength: 8
          maxLength: 128
          pattern: '^[A-Za-z0-9][A-Za-z0-9._:\-]{7,127}$'
          description: |
            Unique per tenant. Reusing it for a different action is refused, not
            replayed.
        required_capabilities:
          type: array
          maxItems: 32
          items:
            $ref: '#/components/schemas/CapabilityRequirement'
        channel:
          type: string
          minLength: 1
          maxLength: 64
          default: api
        trace_id:
          type: [string, 'null']
          maxLength: 128
        outputs:
          type: object
          maxProperties: 32
          description: |
            The executor's own observed result. Opaque data, stored as written and
            never read as a verdict. Values must be finite: NaN and Infinity have no
            JSON spelling the evidence digest could be recomputed from.
          additionalProperties:
            $ref: '#/components/schemas/Scalar'

    StripeAppProductionValues:
      type: object
      additionalProperties: false
      required:
        - STRIPE_APP_SIGNING_SECRET
        - STRIPE_APP_OAUTH_TEST_SECRET_KEY
        - STRIPE_APP_OAUTH_SANDBOX_SECRET_KEY
        - STRIPE_APP_OAUTH_TEST_AUTHORIZE_URL
        - STRIPE_APP_OAUTH_SANDBOX_AUTHORIZE_URL
        - DSG_STRIPE_APP_OAUTH_LIVE_AUTHORIZE_URL
      properties:
        STRIPE_APP_SIGNING_SECRET:
          type: string
          writeOnly: true
          description: Stripe App UI signing secret; must start with `absec_`.
        STRIPE_APP_OAUTH_TEST_SECRET_KEY:
          type: string
          writeOnly: true
          description: Stripe test-mode API secret; must start with `sk_test_`.
        STRIPE_APP_OAUTH_SANDBOX_SECRET_KEY:
          type: string
          writeOnly: true
          description: Managed-sandbox API secret; must start with `sk_test_` and differ from the test key.
        STRIPE_APP_OAUTH_TEST_AUTHORIZE_URL:
          type: string
          format: uri
          writeOnly: true
          description: HTTPS External Test authorize URL; stored as an environment secret.
        STRIPE_APP_OAUTH_SANDBOX_AUTHORIZE_URL:
          type: string
          format: uri
          writeOnly: true
          description: HTTPS managed-sandbox authorize URL; stored as an environment secret.
        DSG_STRIPE_APP_OAUTH_LIVE_AUTHORIZE_URL:
          type: string
          format: uri
          description: Public live install URL; stored as a repository variable.

    ConfigureStripeAppRequest:
      type: object
      additionalProperties: false
      required: [plan_id, agent_identity, idempotency_key, values]
      properties:
        plan_id:
          type: string
          minLength: 1
          maxLength: 64
        agent_identity:
          type: string
          minLength: 1
          maxLength: 255
        idempotency_key:
          type: string
          minLength: 8
          maxLength: 128
          pattern: '^[A-Za-z0-9][A-Za-z0-9._:\-]{7,127}$'
        values:
          $ref: '#/components/schemas/StripeAppProductionValues'
        trace_id:
          type: [string, 'null']
          maxLength: 128

    StripeAppExecutorResult:
      type: object
      description: |
        Executor outcome. On success, `evidence` contains GitHub read-back names,
        timestamps, and the live-variable equality check. It never contains a
        secret value or encrypted payload.
      required: [executed, secret_values_exposed]
      properties:
        decision:
          type: string
          enum: [ALLOW, WAITING_PERMISSION, BLOCK, ERROR]
          readOnly: true
        executed:
          type: boolean
          readOnly: true
        action:
          type: string
          const: configure_stripe_app
          readOnly: true
        target:
          type: string
          const: pics.dsg.governance
          readOnly: true
        plan_id:
          type: string
        plan_hash:
          $ref: '#/components/schemas/Sha256'
        control:
          $ref: '#/components/schemas/ControlDecisionResult'
        capability:
          type: object
          additionalProperties: true
          readOnly: true
        evidence:
          type: object
          additionalProperties: true
          readOnly: true
        audit:
          type: object
          additionalProperties: true
          readOnly: true
        secret_values_exposed:
          type: boolean
          const: false
          readOnly: true
        next_step:
          type: string
          readOnly: true

    GuardedEvidenceRecord:
      type: object
      description: One row of `dsg_guarded_evidence`, as storage returned it.
      required: [evidence_id, tenant_id, idempotency_key, action_hash, evidence_hash]
      properties:
        evidence_id:
          type: string
          format: uuid
        tenant_id:
          type: string
          description: The authenticated revenue account this row belongs to.
        label:
          type: string
          maxLength: 200
          description: Short human-readable name for the row.
        idempotency_key:
          type: string
        action_hash:
          $ref: '#/components/schemas/Sha256'
        plan_id:
          type: string
        plan_hash:
          $ref: '#/components/schemas/Sha256'
        agent_identity:
          type: string
        channel:
          type: string
        step_id:
          type: [string, 'null']
        action:
          type: string
        target:
          type: string
        parameters:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Scalar'
        decision:
          $ref: '#/components/schemas/ControlDecision'
        control_hash:
          $ref: '#/components/schemas/Sha256'
        mutation_status:
          type: string
          enum: [succeeded, failed, skipped]
        outputs:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Scalar'
        output_sha256:
          oneOf:
            - $ref: '#/components/schemas/Sha256'
            - type: 'null'
          description: The executor's declared output digest, as it submitted it.
        started_at:
          type: [string, 'null']
        finished_at:
          type: [string, 'null']
        evidence_hash:
          $ref: '#/components/schemas/Sha256'
        recorded_at:
          type: string

    GuardedStorage:
      type: object
      properties:
        backend:
          type: string
          enum: [postgres, memory]
        table:
          type: [string, 'null']
        durable:
          type: boolean
        tenant_bound:
          type: boolean
          const: true
        unique_on:
          type: array
          items:
            type: string
        read_back_in_write_transaction:
          type: boolean
          const: true
        rows:
          type: integer

    GuardedIntegrity:
      type: object
      properties:
        source:
          type: string
          const: read-back-from-store
        evidence_hash_recomputed:
          $ref: '#/components/schemas/Sha256'
        matches_stored:
          type: boolean
        computed_by:
          type: string
          const: dsg-guarded-mutation

    GuardedMutationResult:
      type: object
      required: [tenant_id, idempotency_key, control, executed]
      properties:
        tenant_id:
          type: string
        idempotency_key:
          type: string
        evidence_id:
          type: string
          format: uuid
        action_hash:
          $ref: '#/components/schemas/Sha256'
        control:
          $ref: '#/components/schemas/ControlDecisionResult'
        executed:
          type: boolean
          description: True only when the Decision Core returned ALLOW.
        created:
          type: boolean
          description: False when an existing row was replayed for this key.
        replayed:
          type: boolean
        observed_evidence:
          oneOf:
            - $ref: '#/components/schemas/GuardedEvidenceRecord'
            - type: 'null'
        storage:
          $ref: '#/components/schemas/GuardedStorage'
        integrity:
          $ref: '#/components/schemas/GuardedIntegrity'
        computed_by:
          type: string
          const: dsg-guarded-mutation
        next_step:
          type: string
        evaluated_at:
          type: string

    GuardedMutationReadBack:
      type: object
      required: [tenant_id, evidence_id, observed_evidence]
      properties:
        tenant_id:
          type: string
        evidence_id:
          type: string
          format: uuid
        idempotency_key:
          type: string
        action_hash:
          $ref: '#/components/schemas/Sha256'
        observed_evidence:
          $ref: '#/components/schemas/GuardedEvidenceRecord'
        storage:
          $ref: '#/components/schemas/GuardedStorage'
        integrity:
          $ref: '#/components/schemas/GuardedIntegrity'
        computed_by:
          type: string
          const: dsg-guarded-mutation
        read_at:
          type: string

    MobileClientIdentity:
      type: object
      additionalProperties: false
      required: [package_name, version_name, version_code, apk_sha256, signing_cert_sha256]
      properties:
        package_name:
          type: string
          maxLength: 255
        version_name:
          type: string
          maxLength: 64
        version_code:
          type: integer
          minimum: 1
        apk_sha256:
          $ref: '#/components/schemas/Sha256'
        signing_cert_sha256:
          $ref: '#/components/schemas/Sha256'

    MobileProposedAction:
      type: object
      additionalProperties: false
      required: [action, target, step_id]
      properties:
        action:
          type: string
          minLength: 1
          maxLength: 64
        target:
          type: string
          minLength: 1
          maxLength: 255
        step_id:
          type: string
          minLength: 1
          maxLength: 64
        parameters:
          type: object
          maxProperties: 32
          additionalProperties:
            $ref: '#/components/schemas/Scalar'

    MobilePreflightRequest:
      type: object
      additionalProperties: false
      required: [client, plan_id, agent_identity, action]
      properties:
        client:
          $ref: '#/components/schemas/MobileClientIdentity'
        plan_id:
          type: string
          minLength: 1
          maxLength: 64
        agent_identity:
          type: string
          minLength: 1
          maxLength: 255
        action:
          $ref: '#/components/schemas/MobileProposedAction'
        required_capabilities:
          type: array
          maxItems: 32
          items:
            $ref: '#/components/schemas/CapabilityRequirement'
        trace_id:
          type: [string, 'null']
          maxLength: 128

    MobileClientContract:
      type: object
      properties:
        client:
          type: object
          additionalProperties: true
        decision_core:
          type: string
        control:
          type: object
          additionalProperties: true
        rule:
          type: string

    PlanStep:
      type: object
      additionalProperties: false
      required: [step_id, action, target]
      properties:
        step_id:
          type: string
          maxLength: 64
        action:
          type: string
          maxLength: 64
        target:
          type: string
          maxLength: 255
        parameters:
          type: object
          maxProperties: 32
          additionalProperties:
            $ref: '#/components/schemas/Scalar'
          description: Approved parameter values. An action must match every one of them.
        requires_evidence:
          type: boolean
          default: true
        optional:
          type: boolean
          default: false
        description:
          type: [string, 'null']
          maxLength: 512

    Constraint:
      type: object
      additionalProperties: false
      required: [constraint_id, field, op]
      properties:
        constraint_id:
          type: string
          maxLength: 64
        field:
          type: string
          maxLength: 64
        op:
          type: string
          enum: [eq, ne, lt, lte, gt, gte, in, not_in, subset_of, starts_with, ends_with, present, absent]
        value:
          anyOf:
            - $ref: '#/components/schemas/Scalar'
            - type: array
              maxItems: 64
              items:
                $ref: '#/components/schemas/Scalar'
        severity:
          $ref: '#/components/schemas/Severity'
        description:
          type: [string, 'null']
          maxLength: 512

    PlanDocument:
      type: object
      additionalProperties: false
      required: [title, agent_identity, steps]
      properties:
        title:
          type: string
          maxLength: 255
        agent_identity:
          type: string
          maxLength: 255
        channel:
          $ref: '#/components/schemas/Channel'
        steps:
          type: array
          minItems: 1
          maxItems: 64
          items:
            $ref: '#/components/schemas/PlanStep'
        constraints:
          type: array
          maxItems: 64
          items:
            $ref: '#/components/schemas/Constraint'
        metadata:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Scalar'

    Approval:
      type: object
      properties:
        approver:
          type: string
        approved_at:
          type: string
        approval_note:
          type: [string, 'null']
        plan_hash:
          $ref: '#/components/schemas/Sha256'
        approval_hash:
          $ref: '#/components/schemas/Sha256'

    PlanRecord:
      type: object
      required: [plan_id, status, plan_hash, document]
      properties:
        plan_id:
          type: string
        status:
          type: string
          enum: [DRAFT, APPROVED]
        plan_hash:
          $ref: '#/components/schemas/Sha256'
        plan_hash_verified:
          type: boolean
        document:
          $ref: '#/components/schemas/PlanDocument'
        approval:
          oneOf:
            - $ref: '#/components/schemas/Approval'
            - type: 'null'
        api_version:
          type: string
        policy_version:
          type: string
        created_at:
          type: string
        next_step:
          type: string
        guarded_mutation_storage:
          $ref: '#/components/schemas/GuardedStorage'
        independent_verification:
          $ref: '#/components/schemas/IndependentVerification'

    ApprovePlanRequest:
      type: object
      additionalProperties: false
      required: [approver, plan_hash]
      properties:
        approver:
          type: string
          maxLength: 255
        plan_hash:
          $ref: '#/components/schemas/Sha256'
        approval_note:
          type: [string, 'null']
          maxLength: 1024

    ObservedAction:
      type: object
      additionalProperties: false
      required: [action, target]
      description: |
        One action the agent actually took. `status` is an observation of the tool
        call, not a claim about conformance.
      properties:
        action:
          type: string
          maxLength: 64
        target:
          type: string
          maxLength: 255
        step_id:
          type: [string, 'null']
          maxLength: 64
        parameters:
          type: object
          maxProperties: 32
          additionalProperties:
            $ref: '#/components/schemas/Scalar'
        status:
          type: string
          enum: [succeeded, failed, skipped]
          default: succeeded
        started_at:
          type: [string, 'null']
        finished_at:
          type: [string, 'null']
        output_sha256:
          description: |
            Digest of the output this action produced. Replay match holds only when
            some content-verified artifact hashes to exactly this value.
          oneOf:
            - $ref: '#/components/schemas/Sha256'
            - type: 'null'

    PlanAlignmentRequest:
      type: object
      additionalProperties: false
      required: [actions]
      description: Provide exactly one of `plan_id` or `plan`.
      properties:
        plan_id:
          type: [string, 'null']
          maxLength: 64
        plan:
          oneOf:
            - $ref: '#/components/schemas/PlanDocument'
            - type: 'null'
        actions:
          type: array
          minItems: 1
          maxItems: 128
          items:
            $ref: '#/components/schemas/ObservedAction'

    AlignmentFinding:
      type: object
      properties:
        code:
          type: string
          enum:
            - OUT_OF_PLAN_ACTION
            - PARAMETER_MISMATCH
            - UNKNOWN_STEP_ID
            - STEP_REPEATED
            - UNDECLARED_PARAMETER
            - STEP_NOT_EXECUTED
        severity:
          $ref: '#/components/schemas/Severity'
        detail:
          type: string
        action_index:
          type: integer
        step_id:
          type: string
        parameters:
          type: array
          items:
            type: string

    PlanAlignmentResult:
      type: object
      required: [plan_aligned, findings]
      properties:
        plan_aligned:
          type: boolean
          description: Computed by DSG. Never accepted as input.
        computed_by:
          type: string
          const: dsg
        plan_source:
          type: string
          enum: [stored, inline]
        plan_id:
          type: [string, 'null']
        plan_status:
          type: string
        plan_hash:
          $ref: '#/components/schemas/Sha256'
        action_trace_hash:
          $ref: '#/components/schemas/Sha256'
        alignment_hash:
          $ref: '#/components/schemas/Sha256'
        steps_total:
          type: integer
        steps_matched:
          type: integer
        steps_missing:
          type: array
          items:
            type: string
        optional_steps_missing:
          type: array
          items:
            type: string
        plan_complete:
          type: boolean
        matches:
          type: array
          items:
            type: object
            properties:
              action_index:
                type: integer
              step_id:
                type: string
        findings:
          type: array
          items:
            $ref: '#/components/schemas/AlignmentFinding'
        independent_verification:
          $ref: '#/components/schemas/IndependentVerification'
        evaluated_at:
          type: string

    ConstraintsRequest:
      type: object
      additionalProperties: false
      description: Provide exactly one of `plan_id` or `constraints`.
      properties:
        plan_id:
          type: [string, 'null']
          maxLength: 64
        constraints:
          oneOf:
            - type: array
              maxItems: 64
              items:
                $ref: '#/components/schemas/Constraint'
            - type: 'null'
        facts:
          type: object
          maxProperties: 64
          description: Observed facts. Never a verdict about them.
          additionalProperties:
            anyOf:
              - $ref: '#/components/schemas/Scalar'
              - type: array
                items:
                  $ref: '#/components/schemas/Scalar'

    ConstraintEvaluation:
      type: object
      properties:
        constraint_id:
          type: string
        field:
          type: string
        op:
          type: string
        expected: {}
        actual: {}
        fact_present:
          type: boolean
        severity:
          $ref: '#/components/schemas/Severity'
        satisfied:
          type: boolean
        reason:
          type: string
          enum: [MISSING_FACT, UNEXPECTED_FACT, TYPE_MISMATCH, CONSTRAINT_VIOLATED]

    ConstraintsResult:
      type: object
      required: [constraints_pass, decision, verification, proof_hash]
      properties:
        constraints_pass:
          type: boolean
          description: Computed by DSG. Never accepted as input.
        requires_review:
          type: boolean
        computed_by:
          type: string
          const: dsg
        constraint_source:
          type: string
          enum: [stored, inline]
        plan_id:
          type: [string, 'null']
        constraints_total:
          type: integer
        constraints_satisfied:
          type: integer
        violations:
          type: array
          items:
            $ref: '#/components/schemas/ConstraintEvaluation'
        evaluated:
          type: array
          items:
            $ref: '#/components/schemas/ConstraintEvaluation'
        constraints_hash:
          $ref: '#/components/schemas/Sha256'
        facts_hash:
          $ref: '#/components/schemas/Sha256'
        evaluation_hash:
          $ref: '#/components/schemas/Sha256'
        decision:
          $ref: '#/components/schemas/Decision'
        verified:
          type: boolean
          const: true
        verification:
          type: string
          const: VERIFIED_GLOBAL_OPTIMUM
        proof_hash:
          $ref: '#/components/schemas/Sha256'
        request_hash:
          $ref: '#/components/schemas/Sha256'
        witness:
          type: array
          items:
            type: integer
        energy_exact:
          type: [string, 'null']
        independent_verification:
          $ref: '#/components/schemas/IndependentVerification'
        evaluated_at:
          type: string

    ExecutionCreate:
      type: object
      additionalProperties: false
      required: [plan_id, agent_identity, actions]
      properties:
        plan_id:
          type: string
          maxLength: 64
        agent_identity:
          type: string
          maxLength: 255
          description: Must equal the agent identity the approved plan names.
        environment:
          type: string
          maxLength: 128
        channel:
          $ref: '#/components/schemas/Channel'
        actions:
          type: array
          minItems: 1
          maxItems: 128
          items:
            $ref: '#/components/schemas/ObservedAction'
        observed_facts:
          type: object
          maxProperties: 64
          description: |
            Additional observations for constraint evaluation. Facts DSG derives
            itself - cost, environment, targets, failure counts - always override
            these.
          additionalProperties:
            anyOf:
              - $ref: '#/components/schemas/Scalar'
              - type: array
                items:
                  $ref: '#/components/schemas/Scalar'
        cost_microunits:
          type: integer
          minimum: 0
        started_at:
          type: [string, 'null']
        finished_at:
          type: [string, 'null']
        trace_id:
          type: [string, 'null']
          maxLength: 128

    ExecutionRecord:
      type: object
      required: [execution_id, plan_id, status]
      properties:
        execution_id:
          type: string
        plan_id:
          type: string
        plan_hash:
          $ref: '#/components/schemas/Sha256'
        status:
          type: string
          enum: [RECORDED, EVIDENCE_SUBMITTED, VERIFIED]
        agent_identity:
          type: string
        environment:
          type: string
        channel:
          $ref: '#/components/schemas/Channel'
        trace_id:
          type: [string, 'null']
        actions:
          type: array
          items:
            $ref: '#/components/schemas/ObservedAction'
        observed_facts:
          type: object
          additionalProperties: true
        cost_microunits:
          type: integer
        action_trace_hash:
          $ref: '#/components/schemas/Sha256'
        evidence:
          type: array
          items:
            $ref: '#/components/schemas/EvidenceRecord'
        proof_id:
          type: [string, 'null']
        recorded_at:
          type: string
        alignment_preview:
          $ref: '#/components/schemas/PlanAlignmentResult'
        next_step:
          type: string
        independent_verification:
          $ref: '#/components/schemas/IndependentVerification'

    EvidenceArtifact:
      type: object
      additionalProperties: false
      required: [artifact_id, source]
      description: |
        Supply `content` or `content_base64` for evidence DSG can verify, or
        `declared_sha256` alone for an attestation it cannot.
      properties:
        artifact_id:
          type: string
          maxLength: 64
        source:
          type: string
          maxLength: 128
        step_id:
          type: [string, 'null']
          maxLength: 64
        media_type:
          type: string
          maxLength: 128
        content:
          type: [string, 'null']
          maxLength: 65536
        content_base64:
          type: [string, 'null']
          maxLength: 87400
        declared_sha256:
          oneOf:
            - $ref: '#/components/schemas/Sha256'
            - type: 'null'
        recorded_at:
          type: [string, 'null']

    EvidenceSubmission:
      type: object
      additionalProperties: false
      required: [artifacts]
      properties:
        artifacts:
          type: array
          minItems: 1
          maxItems: 256
          items:
            $ref: '#/components/schemas/EvidenceArtifact'

    EvidenceRecord:
      type: object
      properties:
        artifact_id:
          type: string
        source:
          type: string
        step_id:
          type: [string, 'null']
        media_type:
          type: string
        sha256:
          $ref: '#/components/schemas/Sha256'
        declared_sha256:
          type: [string, 'null']
        size_bytes:
          type: [integer, 'null']
        verification:
          type: string
          enum: [CONTENT_VERIFIED, HASH_ONLY]
        encoding:
          type: [string, 'null']
        recorded_at:
          type: string
        ingested_at:
          type: string

    EvidenceAssessment:
      type: object
      properties:
        evidence_complete:
          type: boolean
          description: Computed by DSG. Never accepted as input.
        computed_by:
          type: string
          const: dsg
        evidence_completeness:
          type: number
          minimum: 0
          maximum: 1
        required_steps:
          type: array
          items:
            type: string
        covered_steps:
          type: array
          items:
            type: string
        executed_steps:
          type: array
          items:
            type: string
        gaps:
          type: array
          items:
            type: object
            properties:
              step_id:
                type: string
              code:
                type: string
                enum: [EVIDENCE_MISSING, EVIDENCE_NOT_CONTENT_VERIFIED, EVIDENCE_FOR_UNKNOWN_STEP]
              detail:
                type: string
        artifacts_total:
          type: integer
        artifacts_content_verified:
          type: integer
        artifacts_hash_only:
          type: integer
        unassigned_artifacts:
          type: array
          items:
            type: string
        evidence_hash:
          $ref: '#/components/schemas/Sha256'

    ReplayAssessment:
      type: object
      properties:
        replay_match:
          type: boolean
          description: Computed by DSG. Never accepted as input.
        computed_by:
          type: string
          const: dsg
        actions_checked:
          type: integer
        actions_matched:
          type: integer
        mismatches:
          type: array
          items:
            type: object
            additionalProperties: true
        comparisons:
          type: array
          items:
            type: object
            additionalProperties: true
        replay_hash:
          $ref: '#/components/schemas/Sha256'

    EvidenceResult:
      type: object
      properties:
        execution_id:
          type: string
        status:
          type: string
        accepted_artifacts:
          type: array
          items:
            type: string
        artifacts:
          type: array
          items:
            $ref: '#/components/schemas/EvidenceRecord'
        evidence:
          $ref: '#/components/schemas/EvidenceAssessment'
        replay:
          $ref: '#/components/schemas/ReplayAssessment'
        independent_verification:
          $ref: '#/components/schemas/IndependentVerification'
        next_step:
          type: string
        submitted_at:
          type: string

    ExecutionVerifyRequest:
      type: object
      additionalProperties: false
      properties:
        note:
          type: [string, 'null']
          maxLength: 1024
        require_content_evidence:
          type: boolean
          default: true
          description: |
            When true (the default), hash-only attestations do not satisfy a step
            that requires evidence.

    ComputedVerdicts:
      type: object
      description: Every field here is DSG's own computation over stored raw records.
      required:
        - authorized
        - plan_aligned
        - constraints_pass
        - execution_succeeded
        - replay_match
        - evidence_complete
      properties:
        authorized:
          type: boolean
        plan_aligned:
          type: boolean
        constraints_pass:
          type: boolean
        execution_succeeded:
          type: boolean
        replay_match:
          type: boolean
        evidence_complete:
          type: boolean
        evidence_completeness:
          type: number

    ProofReceipt:
      type: object
      required:
        - proof_id
        - decision
        - computed
        - verified
        - verification
        - proof_hash
        - context_hash
      properties:
        proof_id:
          type: string
        receipt_version:
          type: string
        policy_version:
          type: string
        api_version:
          type: string
        execution_id:
          type: string
        plan_id:
          type: string
        trace_id:
          type: [string, 'null']
        channel:
          $ref: '#/components/schemas/Channel'
        agent_identity:
          type: string
        environment:
          type: string
        decision:
          $ref: '#/components/schemas/Decision'
        reasons:
          type: array
          items:
            type: string
        computed:
          $ref: '#/components/schemas/ComputedVerdicts'
        inputs:
          type: object
          description: The hashes every verdict in this receipt was computed from.
          properties:
            plan_hash:
              $ref: '#/components/schemas/Sha256'
            approval_hash:
              $ref: '#/components/schemas/Sha256'
            action_trace_hash:
              $ref: '#/components/schemas/Sha256'
            alignment_hash:
              $ref: '#/components/schemas/Sha256'
            constraints_hash:
              $ref: '#/components/schemas/Sha256'
            facts_hash:
              $ref: '#/components/schemas/Sha256'
            evidence_hash:
              $ref: '#/components/schemas/Sha256'
            replay_hash:
              $ref: '#/components/schemas/Sha256'
        findings:
          type: object
          properties:
            alignment:
              type: array
              items:
                $ref: '#/components/schemas/AlignmentFinding'
            constraints:
              type: array
              items:
                $ref: '#/components/schemas/ConstraintEvaluation'
            evidence:
              type: array
              items:
                type: object
                additionalProperties: true
            replay:
              type: array
              items:
                type: object
                additionalProperties: true
        evidence_summary:
          type: object
          additionalProperties: true
        cost_microunits:
          type: integer
          description: Observed cost as recorded on the execution. DSG does not price it.
        verified:
          type: boolean
          const: true
        verification:
          type: string
          const: VERIFIED_GLOBAL_OPTIMUM
        proof_hash:
          $ref: '#/components/schemas/Sha256'
        request_hash:
          $ref: '#/components/schemas/Sha256'
        context_hash:
          $ref: '#/components/schemas/Sha256'
        receipt_hash:
          $ref: '#/components/schemas/Sha256'
        receipt_hash_verified:
          type: boolean
          description: Present on read. DSG recomputes the hash before returning a receipt.
        receipt_hash_recomputed:
          $ref: '#/components/schemas/Sha256'
        witness:
          type: array
          items:
            type: integer
        energy_exact:
          type: [string, 'null']
        billing:
          type: object
          additionalProperties: true
        independent_verification:
          $ref: '#/components/schemas/IndependentVerification'
        verified_at:
          type: string

    ServiceStatus:
      type: object
      required: [service, status, verification_backend, storage]
      properties:
        service:
          type: string
          const: dsg-one
        status:
          type: string
          enum: [READY, DEGRADED]
          description: |
            DEGRADED means the exact verifier is unreachable, so no new proof can be
            issued. A client that cannot reach this endpoint at all shows NOT
            CONNECTED.
        api_version:
          type: string
        policy_version:
          type: string
        receipt_version:
          type: string
        engine_version:
          type: string
        verification_backend:
          type: object
          properties:
            configured:
              type: boolean
            ready:
              type: boolean
            detail: {}
        storage:
          type: object
          properties:
            mode:
              type: string
              enum: [file, memory]
            durable:
              type: boolean
            records:
              type: object
              additionalProperties:
                type: integer
        independent_verification:
          $ref: '#/components/schemas/IndependentVerification'
        flow:
          type: array
          items:
            type: object
            properties:
              step:
                type: string
              endpoint:
                type: string
        mcp:
          type: object
          properties:
            endpoint:
              type: string
            transport:
              type: string
            protocol_version:
              type: string
            tools:
              type: array
              items:
                type: string
        checked_at:
          type: string

    JsonRpcRequest:
      type: object
      required: [jsonrpc, method]
      properties:
        jsonrpc:
          type: string
          const: '2.0'
        id:
          type: [string, integer, 'null']
        method:
          type: string
          enum: [initialize, ping, tools/list, tools/call, resources/list, prompts/list]
        params:
          type: object
          additionalProperties: true

    JsonRpcResponse:
      type: object
      required: [jsonrpc]
      properties:
        jsonrpc:
          type: string
          const: '2.0'
        id:
          type: [string, integer, 'null']
        result:
          type: object
          additionalProperties: true
        error:
          type: object
          properties:
            code:
              type: integer
            message:
              type: string
            data: {}
